:root {
    --highlight-color: #c8c32f;

    --primary-color: #212121;
    --secondary-color: #6b6b6b;
    --tertiary-color: #d0d0d0;

    --dark-color: #353535;
    --light-color: #fff;

    --menu-color: #696969;

    --section-color: #f3f3f3;

    --border-color: #dfdfdf;
    --border-color-dark: #484848;

    --ok-color: #6fa54e;

    --border-radius: 0px;

    --font: "Poppins", sans-serif;
    --font2: "Poppins", sans-serif;
}
  