.homepageSlider {
    position: relative;
    &-item {
        position: relative;
        &-image {
            height: rem(825);
            max-width: 100%;
            object-fit: cover;
        }
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            &-inner {
                padding-left: 50%;
                h1, h2 {
                    font-size: rem(68);
                    line-height: rem(80);
                    color: $secondary-color;
                }
                p {
                    font-size: 18px;
                    color: $secondary-color;
                    margin-bottom: 4rem;
                }
            }
        }
    }
    .owl-dots {
        position: absolute;
    }
}