$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$xxl: 1475px;
$xxxl: 1800px;

$primary-color: #000000;
$secondary-color: #fff;
$tertiary-color: #555555;

$border-color: #ebebeb;
$border-color-dark: #303235;

$button-radius: 3px;

$blue-color: #3397d5;
$lightblue-color: #edf4f8;
$lightgrey-color: #f5f5f7;
$grey-color: #dadada;
$darkgrey-color: #546166;
$lightblack-color: #08090b;

$font: "Sora", sans-serif;
$font2: "Poppins", sans-serif;